WcfTcpClient/Service References/ServiceReference1/Gsf.Samples.WCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Gsf.Samples.WCF" elementFormDefault="qualified" targetNamespace="http://Gsf.Samples.WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Regist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>