WcfTcpClient/Service References/WCFSampleService/WCFSampleService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Gsf.Samples.WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Gsf.Samples.WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClientInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="IpAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientInfo" nillable="true" type="tns:ClientInfo" />
  <xs:complexType name="OrderRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderRecord" nillable="true" type="tns:OrderRecord" />
</xs:schema>